.projectContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
    color:white;
    /* padding:0 20px; */
}

.projectContainer > h1 {
    padding-bottom: 15px;
}
  
.projectContainer > p {
    padding-bottom: 20px;
    font-size: 17px;
    font-weight: 300;
}

.projectContainer__project {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
    margin: 2% 15%;
  }

@media screen and (max-width:1024px){
    .projectContainer__project{
        margin: 2% 8%;
    }   

    .projectContainer{
        margin: 160px 70px;
    }

    .projectContainer > p {
    text-align: center;
    font-size: 16px;
}
.projectContainer__project {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
    /* margin:10px 10px; */
  }
}