.projectContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
    color:white
}

.projectContainer__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projectContainer__content > h1{
    padding-bottom: 15px;
}

.projectContainer__content > p{
    padding-bottom: 20px;
}

.projectContainer__project{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:60vw;
}