.projectContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
    color:white;
}

.projectContainer > h1 {
    padding-bottom: 15px;
}
  
.projectContainer > p {
    padding-bottom: 20px;
}

.projectContainer__project {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 60vw;
    margin-top: 50px;
    justify-content: center;
  }
