.project {
    color: white;
    margin: 15px;
    position: relative;
    overflow: hidden; /* Hide overflowing content */
}

.project img {
    width: 300px;
    height: 200px;
    transition: transform 200ms ease-in;
    border-radius: 1px;
}

.project:hover{
    transform: scale(1.08);
    border-radius: 5px;
}

.project__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #f64c08;
    color: white;
    opacity: 0;
    transition: opacity 20ms ease-in;
    padding:3px 20px;
}

.project:hover .project__content {
    opacity: 1;
}

.project__content > h4 {
    /* font-size: 18px; */
    text-align: center;
    padding-bottom: 5px;
}
  
.project__content > p {
    font-size: 15px;
    text-align: center;
} 

.project__icons{
    display: flex;
    align-items: center;
    gap:20px;
    color:white;
}

.project__icons > a:hover{
    color:black;
}

.project__icons > a > .MuiSvgIcon-root{
    transform: scale(1.1);
    margin-top:20px ;
}

@media screen and (max-width:768px){

.project img{
    width: 350px;
    height: 250px;
    /* margin: 0;
    padding: 0; */
}
.project {
    margin-bottom: 30px;
}
}

@media screen and (max-width:600px){
.project img {
    width: 300px;
    height: 200px;
    border-radius: 2px;
}
}