@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.skillContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
}

.skillContainer__image{
    flex:.4;
    text-align: center;
    margin-right: 100px;
}

.skillContainer__image > img{
    width: 600px;
    border-radius: 3px;
    object-fit: contain;  
}

.skillContainer__skillSet{
    color:white;
    width:600px;
    padding:20px 10px;
}

.skillContainer__skills {
    color: white;
    flex: 0.6;
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px;
    margin-right:60px;
}
  
.skillContainer__skills > h2 {
    font-size: 30px;
}

.skillContainer__skillSet > h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
}
 
/* 
.skillContainer__slider1 > span > .css-5xe99f-MuiLinearProgress-bar1{
    background-color: rgb(225, 63, 9) !important;
}

.skillContainer__slider2 > span > .css-5xe99f-MuiLinearProgress-bar1{
    background-color: rgb(207, 116, 18) ;
} 

.skillContainer__slider3 > span > .css-5xe99f-MuiLinearProgress-bar1{
    background-color: rgb(228, 228, 23) ;
}

.skillContainer__slider4 > span > .css-5xe99f-MuiLinearProgress-bar1{
    background-color: rgb(150, 213, 24);
}

.skillContainer__slider5 > span > .css-5xe99f-MuiLinearProgress-bar1{
    background-color: rgb(13, 220, 23) ;
} 

.skillContainer__slider6 > span > .css-5xe99f-MuiLinearProgress-bar1{
     background-color: rgb(13, 110, 220) ; 
} */

.slider1 > * {
    background-color: rgb(225, 63, 9) !important;
}

.slider2 > * {
    background-color: rgb(207, 116, 18) !important;
}

.slider3 > * {
    background-color:rgb(228, 228, 23) !important;
}

.slider4 > * {
    background-color:  rgb(150, 213, 24) !important;
}

.slider5 > * {
    background-color:rgb(13, 220, 23)  !important;
}

.slider6 > * {
    background-color: rgb(13, 110, 220) !important;
}

.skillContainer__skillSet{
    width:auto;
}

@media screen and (max-width:1024px){

    .skillContainer__image > img{
        width: 500px;
    }

    .skillContainer__image{
        margin: 50px;
    }
}

@media screen and (max-width:768px){
    .skill__wrapper{
        position: relative;
    }

    .skillContainer{
        background-image: url(../../assets/jojo/skill.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
        margin: 0 65px;
        margin-top:250px;
        box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.72);
    }
    
    .skillContainer__image{
        display: none;
    }

    .skillContainer__skills > h2 {
        position: absolute;
        top:-60px;
        left:320px;
        letter-spacing: 1px;
    }

    .skillContainer__skillSet{
        width:450px;
    }

}

