.contactContainer{
    margin:200px 0;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactContainer > h1 {
    color: white;
    padding-bottom: 20px;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    width:75%;
    max-width: 80%;
    min-width: 70%;
    border:.2px dotted white;
    padding:20px 30px;
    border-radius:20px;
}

.contact__icons{
    display:flex;
    align-items: center;
    justify-content: center;
    flex:.1;
    gap: 20px;
    margin-left:80px;
    box-shadow: 0 0 10px .1px rgb(255, 99, 71,.7);;
    padding:0 45px;
    border-radius: 50px;
    transition: transform 200ms ease-in;
    max-width: 300px;
}

.contact__icons > a > .MuiSvgIcon-root {
    width: 50px;
    height: 90px;
    transition: transform 200ms ease-in;
}

.contact__icons > a > .MuiSvgIcon-root:hover{
    transform: scale(1.1);
    color: tomato;
}

.contact__form{
    flex:.9;
    display:flex;
    flex-direction: column;
    justify-content: center;
    color:rgb(255, 255, 255);
    box-shadow: 0 0 10px .1px rgb(255, 99, 71,.7);;
    padding:20px;
    border-radius: 50px;
    transition: transform 200ms ease-in;
    margin:40px 2px;
    width:100%;
    min-width: 450px;
    max-width: 650px;
}

.contact__icons:hover,.contact__form:hover{
    transform: scale(1.02);
}

.contact__form > input,.contact__form > textarea{
    padding:10px 15px;
    border:none;
    font-size: 16px;
    border-radius:5px;
    font-weight: 400;
    outline:none;
    color:tomato;
    background-color: rgb(255, 255, 255,1);
    width:100%
}

.contact__form > input:focus, textarea:focus{
    color:white;
    background-color: tomato;
    letter-spacing: 1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

.contact__form > label{
    font-size: 20px;
    padding:20px 5px 5px 5px;
}

.contact__form > button{
    padding:10px 30px;
    border-radius: 10px;
    margin-top: 15px;
    margin: 15px auto;
    margin-top: 25px;
    background-color: tomato;
    color:white;
    font-size: 18px;
    font-weight: 400;
}

.contact__form > input:focus::placeholder , 
.contact__form > textarea:focus::placeholder  {
  color: white;
  font-size: 16px;
}


@media screen and (max-width:1024px){
    .contact__icons{
        padding:5px 25px;
        max-width: 200px;
    margin-left:50px;
    
    gap: 15px;
    }

    .contact__icons > a > .MuiSvgIcon-root {
    min-width: 30px;
    min-height: 40px;
    max-width: 48px;
    max-height: 55px;
}

    .contact__form{
        padding:30px;
    }

    .contact{
    width:80%;
    border:.2px dotted white;
    padding:20px 50px;
    border-radius:20px;
}

.contact__form{
    padding:15px;
    margin:40px 2px;
    width:80%;
    min-width: 350px;
    max-width: 450px;
}
}

@media screen and (max-width:768px){
    .contactContainer{
    margin:0 10opx;
}
.contact{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:75%;
}
.contact__form{
    padding:20px 30px;
    width:100%;
}
.contact__icons{
    margin-left:0;
    padding:20px;
}
.contact__icons > a > .MuiSvgIcon-root {
    width: 80px;
    height: 46px;
}

}