.navbar{
    display:flex;
    align-items: center;
    color:white;
    background-color:black;
    position:sticky;
    top:0;
    z-index: 2000;
    padding:20px 0;
}

.navbar__left{
    flex: 0.3;
}

.navbar__right{
    display: flex;
    flex: 0.7;
    justify-content: space-evenly;
    align-items: center;
}

.navbar__left > h1 {
    letter-spacing: 1px;
    text-align: center;
    /* cursor:pointer; */
}

.navbar__left > h1 > span{
    color:tomato ;
}

.navbar__right > a > h4 {
    cursor: pointer;
    transition: transform 700ms ease-out;
}

.navbar__right > a:hover{
    transform: scale(1.07);
    background-color: tomato;
    color:white;
    border-radius:5px;
    padding:5px 20px;
    font-size: 17px;
    letter-spacing: 1px;
    cursor:pointer;
}

.navbar__right > a:last-child{
    background-color: tomato ;
    border-radius: 2px;
    padding:3px 10px;
    transition: none;
}

.navbar__right > a:last-child:hover {
    padding: 5px 20px !important;
    font-size: 16px;
    transform: none;
}

.navbar__right > a:last-child {
    background-color: #f64c08;
    color: white;
    padding: 5px 20px !important;
    border-radius: 4px;
    letter-spacing: 1px;
}  

.disableMenuIcon{
display: none !important;
}




/* media queries  */

@media screen and (max-width:768px){
    .navbar__left{
    flex: 0.23;
}

.navbar__right{
    flex: 0.77;
}
.navbar__right > a:hover{
    transform: scale(1.05);
    padding:3px 10px;
    font-size: 16px;
}
}

@media screen and (max-width:600px){
    
    .navbar{
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar__left{
        margin-left: 30px;
    }
    .navbar__right{
        display: none;
    }
    .navbar__left > h1{
        letter-spacing:.5px;
    }

    /* toggle menu bar */

.disableMenuIcon,.menuIcon{
    display:inline-block !important;
    margin-right:70px;
    transform: scale(1.4);
} 
    .toggle{
        position: absolute;
        background-color: rgb(255, 99, 71,.7);
        width:100%;
        height:70vh;
        top:100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        padding-top:10px;
    }

    .toggle > a > h4{
        margin:10% auto;
        padding:10px 0px;
        color:white;
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        width:50%;
        margin:1% auto;
    }

.toggle > a > h4:hover{
    transform: scale(1.09);
    background-color: black;
    color:white;
    border-radius:5px;
    letter-spacing: 0px;
    cursor:pointer;
}

.toggle > a:last-child > h4:hover {
    color: black;
    background-color: white;
    color:#f64c08;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 2px;
}

.toggle > a:last-child > h4 {
    background-color:black;
    color: white;
    padding: 15px 0px !important;
    border-radius: 5px;
    letter-spacing: 1px;
    margin-top:20px;
    margin-bottom: 10px;
}  

}