.footerSection{
    color:var(--white);
    text-align: center;
    margin:100px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* name duration timing-function delay iteration-count direction  NDT DID*/
    animation: sizeChange 2000ms ease-in infinite alternate;
    transition: transform 2s ease-in;
    
}

.footerSection > h4 {
    letter-spacing: 1px;
    padding:10px;
}

.heartIcon{
    animation: sizeChange 450ms linear infinite,colorChange 2s linear infinite;
} 

.footerSection >   h4 {
    text-align: center;
    animation: colorChange 2s linear infinite;
}

@keyframes sizeChange {
    0% {
        transform:scale(1.1)   
    }
}

@keyframes colorChange {
    0% {
        color:tomato;
    }
    80% {
        color: var(--white);  
    }
}

@media screen and (max-width:768px){
.footerSection{
        margin:0 auto;
        max-width: 500px;
    }
      .footerSection > h4 {
        max-width: 440px;
    }
}

@media screen and (max-width:600px){
    .footerSection{
        /* border:2px solid red; */
        padding:  0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: max-content;
        min-width: 300px;
        margin:0 auto;
        margin-bottom: 50px;
    }

    .footerSection > h4 {
        padding: 5px 0px;
        letter-spacing: 0;
        min-width: 100px;
        text-align: center;
        margin:0 auto;
        max-width: max-content;
        font-size: 14px;
        margin: 0 auto;
    }
}
