@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root{
    --themeColor:tomato;
    --white:white;
    --black:black;
    --hireBtnBgColor: #f64c08;
    --toggleMenuBgColor: rgb(255, 99, 71,.7);
    --projectContainerBgColor:rgb(246, 76, 8,.9);
    --contactInputFieldBgColor:white;
    --aboutcontainerBoxShadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    --aboutParaShadow:var(--themeColor);
    --aboutParaColor:var(--white);
    --skillsImageShadow:rgba(0, 0, 0, 0.72);
}

.lightMode{
    /* --themeColor:green; */
    /* color:black; */
    background-color: white;
    /* later change the above background color to white */
    --white:black;
    --black:white;
    --hireBtnBgColor: #f64c08;
    --toggleMenuBgColor: rgb(255, 99, 71,.7);
    --projectContainerBgColor:rgb(246, 76, 8,.9);
    /* --contactInputFieldBgColor:rgb(0, 0, 0); */
    /* --aboutcontainerBoxShadow: inset 0 0 0 2000px rgba(0, 0, 0, 0); */
    --aboutcontainerBoxShadow: none;
    --aboutParaShadow:white;
    --aboutParaColor:var(--hireBtnBgColor);
    --skillsImageShadow:rgba(0, 0, 0,0.28);
}

.darkMode{
    background-color: black;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color:white;
}



/* 
media queries
max-width - 1440px  -big screen pc ...no need to change 
max-width - 1024 px -low screen pc 
max width - 768px; - tablet
max-width - 600px; -mobile

*/


/*
Extra small devices (phones, 600px and down)

==> @media only screen and (max-width: 600px) {...}

Small devices (portrait tablets and large phones, 600px and up)
==> @media only screen and (min-width: 600px) {...}

Medium devices (landscape tablets, 768px and up)
==> @media only screen and (min-width: 768px) {...}

Large devices (laptops/desktops, 992px and up)
==> @media only screen and (min-width: 992px) {...}

Extra large devices (large laptops and desktops, 1200px and up)
==> @media only screen and (min-width: 1200px) {...}
*/
