@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
}

a{
    text-decoration: none;
    color:white;
}

/* 
media queries
max-width - 1440px  -big screen pc ...no need to change 
max-width - 1024 px -low screen pc 
max width - 768px; - tablet
max-width - 600px; -m obile

*/

